
.form-area {
  min-width: 200px;
  width: 100%;
}

.field-area {
  width: 100%;
  margin: 0.5rem 0;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.inside-btn {
  display: flex;
  align-items: center;
}
